<style>
#be {color: white;}
.lol {color: white;}
</style>

<div class="container">
<p style="color: green"><%= notice %></p>

<%= render @target %>

<div>
  
 <button class="btn btn-primary"> <%= link_to "Back to targets", targets_path, :class => "lol" %></button>

  <%= button_to "Destroy this target", @target, class:"btn btn-primary" , method: :delete %>
</div>
</div>