<div id="<%= dom_id user %>">
  <p>
    <strong>Anme:</strong>
    <%= user.anme %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

</div>
