<style>
.header {
  padding: 10px;
  text-align: center;
  color: rgb(0, 77, 0);
  font-size: 30px;
}
h1 {text-align: center;}



div.dep {text-align: center;}

.lol {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}

.sideUl {background-color: white;}

.sideUl li { display: block;
            text-decoration: none;}

footer {
   position:relative;
   bottom:0;
   width:100%;
   height:60px;
   text-align: center;
  text-align: center;}

</style>
</head>

  

<div id="main">
<table class="table table-striped">
<tr>
  <th>ID</th>
  <th>Name</th>
  <th>Email</th>
  <th>Cover</th>
</tr>
<% @users.each do |user| %>
<tr>
  <td><%= user.id %><br/> </td>
 <td> <%= user.name %><br/> </td>
  <td><%= user.email %><br/> </td>
  <% if user.cover.attached? %>
 <td> <%= image_tag(user.cover,size: "80x80")%> </td>
  <%end%>
 
<% end %>
</tr>
</table>
</div>