<h1><%= t 'Division.index.new division', default: 'no ', style: "display: block" %></h1>

<%= render "form", division: @division %>

<br>

<div>
  <%= link_to "Back to divisions", divisions_path %>
</div>
