<p style="color: green"><%= notice %></p>

<%= render @division %>

<div>
  <%= link_to "Back to divisions", divisions_path %>

  <%= button_to "Destroy this division", @division, method: :delete %>
</div>
