<style>
.header {
  padding: 10px;
  text-align: center;
  color: rgb(0, 77, 0);
  
}
h1 {text-align: center;}

div.trans {position: absolute; top:1px; left:1px}

div.dep {text-align: center;
          margin: auto;}

div.log {position: absolute; top:1px; right:1px}

#inline {display: inline-block;}

#home tr {background-color: #f2f2f2;}

#home tr:hover {background-color: #ddd;}


 .lol {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #f2f2f2;
  width: 50%;
  margin: auto;}
/* div.dep button {width:80px; height:80px} */

 



</style>

<div class="header">

        <h1><%= t 'Home.index.HR System', default: 'no ', style: "display: block" %></h1>
</div>

<body>

    


</body>
