<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
   color: black;
   text-align: center;
}
</style>
</head>
<body>


<div class="footer">
  <p>Copyright @ 2022 - Sprints - author: Alhanouf Almansour
</p>

<%= link_to 'العربية', root_path(locale: :ar) %>
<%= link_to 'English', root_path(locale: :en) %>

</div>

</body>
</html> 